<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Contact List</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
    </head>
    <body>
    
    <div class="container">
	<div class="row">
	<div class="col-md-6 col-md-offset-3">
    
        <h1>Contact List</h1>
        
        <div>
            <nobr>
                <a th:href="@{/contacts/add}">Add Contact</a> |
                <a th:href="@{/logout}">Log out</a>
            </nobr>
        </div>
        <br/><br/>
        <div>
            <table class="table table-striped" border="1">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Edit</th>
                </tr>
                <tr th:each ="contact : ${contacts}">
                    <td><a th:href="@{/contacts/{contactId}(contactId=${contact.id})}" th:utext="${contact.id}">...</a></td>
                    <td><a th:href="@{/contacts/{contactId}(contactId=${contact.id})}" th:utext="${contact.name}">...</a></td>
                    <td th:utext="${contact.phone}">...</td>
                    <td th:utext="${contact.email}">...</td>
                    <td><a th:href="@{/contacts/{contactId}/edit(contactId=${contact.id})}">Edit</a></td>
                </tr>
            </table>          
        </div>
        <br/><br/>
        <div>
            <nobr>
                <span th:if="${hasPrev}"><a th:href="@{/contacts?page={prev}(prev=${prev})}">Prev</a>&nbsp;&nbsp;&nbsp;</span> 
                <span th:if="${hasNext}"><a th:href="@{/contacts?page={next}(next=${next})}">Next</a></span>
            </nobr>
        </div>
        
    </div>
	</div>
	</div>
        
    </body>
</html>